@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@700&display=swap');


ol {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset: item-counter; /* Задаём имя счетчика */
}
ol li::before {
    content: counter(item-counter); /* Выводим число */
    counter-increment: item-counter; /* Увеличиваем значение счётчика */
    text-align: center;
    color: #EB242A;
    font-size: 60.0858px;
    line-height: 102px;
    
    margin: 0 29% 0 29% !important;
    border-radius: 300px;
    background: #FFFFFF;
    box-shadow: 0px 12.375px 24.75px rgba(0, 0, 0, 0.11);
}

@media screen and (max-width: 720px) {
    ol li::before {
        font-size: 39.4051px;
        line-height: 67px;
        
        margin: 0 42% 0 42% !important;
    }
}

button{
    font-weight: 700;
    font-size: 26.4944px;
    line-height: 31px;

    text-align: center;

    color: #FFFFFF;
    padding: 3%/*top*/ 10%/*left*/ 3%/*BOTTOM*/ 10%/*RIGHT*/;
    background: #EB242A;
    border-radius: 41.4792px;
    border-color: #EB242A;
}

h1, h2, h3{
    font-weight: 700;
    color: #001A49;
}

h2{
    text-align: center;
}

p{
    font-weight: 500;
    color: #57606A;
}
h1, h2, h3, p{
}


/*
p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
}
*/